.portacartao{
    padding: 10px;
    width: 400px;
    height: 200px;
    background-image: url(backgorund.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;
    margin-top: 10%;
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
}

body{
   background-color: #000000;
}

h2{
    font-weight: lighter;
    text-indent: 10px;
}

#insta{
    list-style-image: url(insta.png);
}

#twitter{
    list-style-image: url(Twitter.png);
}

#youtube{
    list-style-image: url(Youtube.png);
}

li{
    text-indent: 5px;
}